/home/{{ gv_grid_user }}/cvu/bin/cluvfy comp sys -n {% for host in groups[hostgroup] -%} {{ hostvars[host].node_host_name }}{{ "," if not loop.last else "" }} {%- endfor %} -p crs -r {{ gv_oracle_grid_release | regex_replace("[a-zA-Z]", "") }} -verbose
