{{ ansible_managed | comment }}

{{ oracle_scan_ip_1 }} {{ fq_scan_name }} {{ scan_name }}
{{ oracle_scan_ip_2 }} {{ fq_scan_name }} {{ scan_name }}
{{ oracle_scan_ip_3 }} {{ fq_scan_name }} {{ scan_name }}
